python-dotenv
python-docx
pandas
openpyxl
langchain
langchain-experimental
langchain-groq
chromadb
sentence-transformers

# Azure Function & AI Search
azure-functions
azure-search-documents

# Azure AI Agent (Phase 2)
azure-ai-projects
azure-ai-agents
azure-identity